In [12]:
# Import Dependencies
import pandas as pd
import csv
import os
import numpy as np

In [7]:
# Create a path for the csv
stats = 'Consensus.csv'

In [8]:
consensus = pd.read_csv(stats)

In [9]:
consensus

,Company,Number_of_Offices,Revenue_2019(Millions),Revenue_2020(Millions),Employees(2019),Employees(2020),Job_Oppertunities,Stocks_Dec_2019,Stocks_Dec_2020
0,Amazon,233,45379.01,51448.51,798000,1298000,49705,1847.84,3185.27
1,Apple,26,95868.86,102347.86,137000,147000,645,72.68,130.76
2,Facebook,85,20812.72,25735.48,44942,58604,3257,205.25,268.11
3,Netflix,13,5290.15,6668.76,8600,9400,506,323.31,514.48
4,Google,85,45379.01,51448.51,118899,235301,3591,1337.02,1758.72
5,Microsoft,177,38217.45,42530.91,144000,163000,8019,155.69,220.51

In [14]:
consensus.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Company</th>\n      <th>Number_of_Offices</th>\n      <th>Revenue_2019(Millions)</th>\n      <th>Revenue_2020(Millions)</th>\n      <th>Employees(2019)</th>\n      <th>Employees(2020)</th>\n      <th>Job_Oppertunities</th>\n      <th>Stocks_Dec_2019</th>\n      <th>Stocks_Dec_2020</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Amazon</td>\n      <td>233</td>\n      <td>45379.01</td>\n      <td>51448.51</td>\n      <td>798000</td>\n      <td>1298000</td>\n      <td>49705</td>\n      <td>1847.84</td>\n      <td>3185.27</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Apple</td>\n      <td>26</td>\n      <td>95868.86</td>\n      <td>102347.86</td>\n      <td>137000</td>\n      <td>147000</td>\n      <td>645</td>\n      <td>72.68</td>\n      <td>130.76</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Facebook</td>\n      <td>85</td>\n      <td>20812.72</td>\n      <td>25735.48</td>\n      <td>44942</td>\n      <td>58604</td>\n      <td>3257</td>\n      <td>205.25</td>\n      <td>268.11</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Netflix</td>\n      <td>13</td>\n      <td>5290.15</td>\n      <td>6668.76</td>\n      <td>8600</td>\n      <td>9400</td>\n      <td>506</td>\n      <td>323.31</td>\n      <td>514.48</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Google</td>\n      <td>85</td>\n      <td>45379.01</td>\n      <td>51448.51</td>\n      <td>118899</td>\n      <td>235301</td>\n      <td>3591</td>\n      <td>1337.02</td>\n      <td>1758.72</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Microsoft</td>\n      <td>177</td>\n      <td>38217.45</td>\n      <td>42530.91</td>\n      <td>144000</td>\n      <td>163000</td>\n      <td>8019</td>\n      <td>155.69</td>\n      <td>220.51</td>\n    </tr>\n  </tbody>\n</table>'